@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body{
  font-family: poppins;
}

:root {
  --primary-black: #0A1931;
  --primary-blue:#47c2f7;
  --primary-light: #ffffff;
  --primery-orange:#f9ab00;
  --primary-darkblue:#4070F4
}



/******************************** MEV MENU LINKS *********************************/
nav{
  z-index:2;
}

.mobileNav{
  position: -webkit-sticky; 
	position: sticky;
	top: 0;
  z-index: 2;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  /* position: relative;
  z-index: 2; */
}

/* .navbar{
  box-shadow: 0px 1px 10px rgb(202, 202, 202);
} */

nav a.navbar-brand {
  height: 3rem;
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: 8rem;
}
@media(max-width: 768px){
  nav a.navbar-brand {
    margin-left: 7.5rem;
  }
}
nav a.navbar-brand:hover{
  color:orange !important;
}
nav ul.navbar-nav{
  margin-right: 5rem;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-black) !important;
  border-bottom: 0.1875rem solid var(--primary-light);
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-bottom: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-blue);
}

/******************************** HEADER *********************************/

.header-wraper{
  position:relative;
  background: url(back.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 92vh;
  z-index: -1;
}
.main-info{
  display: flex;
  position:absolute;
  top:0;
  bottom: 0;
  right: 0;
  left:0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: poppins;
  z-index: 2;
}

.main-info h1{
  color: var(--primery-orange);
  
}



/******************************** TYPED TEXT *********************************/

.typed-text{
  font-size:3rem;
  color: var(--primary-light);
}

@media(max-width: 768px){
  .main-info h1{
    font-size: 1.5rem !important;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}

/******************************** HEADER MAIN OFFER BUTTON *********************************/
.button{
  display: inline-block;
  background-color: var(--primary-light);
  color: rgb(0, 0, 0);
  padding: .75rem 2.5rem;
  font-weight: 600;
  border-radius: .5rem;
  text-decoration: none;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
  text-decoration: none;
  background-color: var(-);
  color: var(--primary-light);
}


/******************************** PARTICLES JS *********************************/
.tsparticles-canvas-el
{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}




/******************************** CARDS *********************************/
.card-title{
  text-align: center;
}

.card-button{
  display: inline-block;
  background-color: var(--primary-blue);
  color: rgb(0, 0, 0);
  padding: .75rem 2.5rem;
  font-weight: 600;
  border-radius: .5rem;
  text-decoration: none;
}
.card{
  width:20rem;
  box-shadow: 3px 2px 15px rgb(202, 202, 202);
  border-radius: 10px;
}

.col-sm{
  margin-left: 5%;
  padding-top: 2%;
}

.card:hover{
  box-shadow: 7px 5px 30px rgb(202, 202, 202);
}

.card-button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
  text-decoration: none;
  color: var(--primary-light);
}



.info{
  padding-top: 6%;
}

.row{
  text-align: center;
}
.overflow{
  overflow: hidden;
}

.card-img-top{
  transform: scale(1);
  transition: transform 0.5s ease;
}

.card-img-top:hover{
  transform: scale(1.8);
}



.title{
  text-align: center;
  font-family: poppins;
  font-weight: 600;
  color: var(--primary-darkblue);
}


/******************************** ABOUT *********************************/
/* .home__title {
  font-size: 300%;
  font-weight: bold;
  font-family: poppins;
  margin-top: 10rem;
  margin-right: 15.2rem;
  margin-left: 15.2rem;
}
.home__title-color{
  color: var(--primary-blue);
} */

.about-wraper{
  padding-top: 6%;
}

.pic{
  width:30%;
  margin-left: 15%;
}

.about-intro-heading{
  margin-top: 3%;
  font-family: poppins;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 8%;
  text-align:justify;
  line-height: 150%;
}
.about-para{
  font-family: poppins;
  
}

.about-info{
  padding-top: 6%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-content: space-around;
}

@media(max-width: 768px){  
  .about-info{
    flex-wrap: wrap;
  }

  .pic{
    margin-left: 0%;
  }
  
}