@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body{
  font-family: poppins;
}

:root {
  --primary-black: #0A1931;
  --primary-blue:#4070F4;
  --primary-light: #ffffff;
}

/******************************** MEV MENU LINKS *********************************/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}


nav a.navbar-brand {
  height: 3rem;
  font-weight: 500;
  font-size: 1.5rem;
}
nav a.navbar-brand:hover{
  color:orange !important;
}
/* nav ul.navbar-nav{
  margin-right: 10rem;
} */

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-black) !important;
  border-bottom: 0.1875rem solid var(--primary-light);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-bottom: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-blue);
}